// Grid and sizes
$cols: 12 !default
$breakpoint-small: 400px !default
$breakpoint-medium: 600px !default
$breakpoint-large: 990px !default
$breakpoint-extralarge: 1280px !default
	
// Media Querys
$s: "only screen and (min-width : #{$breakpoint-small})" !default
$m: "only screen and (min-width : #{$breakpoint-medium})" !default
$l: "only screen and (min-width : #{$breakpoint-large})" !default
$xl: "only screen and (min-width : #{$breakpoint-extralarge})" !default

.container
	margin: 0 auto
	max-width: #{$breakpoint-extralarge}
	width: 95%
	@media #{$m}
		width: 90%
	@media #{$xl}
		width: 85%

