///import css-variables from grid
@import 'grid'

body
  font-family: 'Montserrat', sans-serif
  background-color: #201761
  color: white
.backgroundmenu
  &.active
    background-color: transparent
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
.section
  text-align: center
  p
    line-height: 150%


#fp-nav,
.fp-slidesNav
  ul
    li
      a
        span
          background: #FFF !important

@import 'nav'


#presentation
  background-image: url('../img/logo-s.png'), linear-gradient(#183153,#234779)
  background-position: center 65%
  background-repeat: no-repeat
  background-size: contain
  text-shadow: 0px -1px 10px #468DF2
  font-size: 1rem
  @media #{$s-u}
    font-size: 1.2rem
  @media #{$m-u}
    font-size: 1.8rem
  @media #{$l-u}
    font-size: 2.2rem
  .down
    position: absolute
    left: 0
    right: 0
    bottom: 10px
    font-size: 0.9rem
    animation: bounce
    animation-duration: 2s
    animation-iteration-count: infinite
    .downicon
      display: block
      width: 20px
      height: 20px
      background-image: url('../img/down.svg')
      left: 0
      right: 0
      margin: 0 auto

#solutions
  background: linear-gradient(#234779, #413E9E)

#tools
  background: linear-gradient(#413E9E, #1A516B)

#examples
  background: linear-gradient(#1A516B, #175D61)

#people
  background: linear-gradient(#175D61, #3368C2)
  .teams-slider
    display: flex
    overflow-x: auto
    scroll-snap-type: x mandatory
    scroll-behavior: smooth
    -webkit-overflow-scrolling: touch
    cursor: grab
    @media #{$s-u}
      &::-webkit-scrollbar
        width: 10px
        height: 10px
      &::-webkit-scrollbar-thumb
        background: rgba(255, 255, 255, 0.1)
        border-radius: 15px
        &:hover
          background: rgba(255, 255, 255, 0.4)
    .team-slide
      display: inline-flex
      scroll-snap-align: center
      width: 100%
      margin: 0 65px
      flex-direction: column
      img
        border-radius: 50%
      p
        font-size: 1.5rem
        font-weight: 300

      

#email
  background: linear-gradient(#3368C2, #5942BA)

#link
  background: linear-gradient(#5942BA, #201761)

